{% extends 'main.html' %}
{% load staticfiles %}
{% block home %}

<h2> Welcome to GymFitness.co.nz </h2>
<div class="large-offset-1 large-8 columns">
<img src="{% static  "css/images/highlight.gif" %}" alt="" class="right" />
<p>
Introductory text: Training, oppurtunities, results, trainers, gyms.
</p>
</div>

{% endblock %}
