
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Gym Health</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/jquery.jcarousel.css' %}" type="text/css" media="all" />
<!--[if IE 6]><link rel="stylesheet" href="{% static '/static/css/ie6.css' %}" type="text/css" media="all" /><![endif]-->
<link rel="shortcut icon" src="{% static "css/images/favicon.ico" %}" />
<script type="text/javascript" src="{% static 'js/jquery-1.4.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.jcarousel.pack.js' %}"></script>
<script type="text/javascript" src="{% static 'js/func.js' %}"></script>
</head>
<body>
<div class="shell">
  <div class="border">
    <div id="header">
      <h1 id="logo"><a href="#" class="notext">Gym Health</a></h1>
      <div class="socials right">
        <ul>
          <li><a href="#" class="rss">RSS</a></li>
          <li><a href="#" class="fb">Facebook</a></li>
          <li class="last"><a href="#" class="twit">Twitter</a></li>
        </ul>
      </div>
      <div class="cl">&nbsp;</div>
    </div>
    <div id="navigation">
      <ul>
        <li><a href="/home" class="active">Home</a></li>
        <li><a href="/home">About</a></li>
        <li><a href="/gyms">Gyms</a></li>
        <li><a href="/articles/all">Articles</a></li>
        <li><a href="/workout_details/">Records</a></li>
        <li><a href="/home">Contact</a></li>
      </ul>
      <div class="cl">&nbsp;</div>
    </div>
    <div class="slider">
      <div class="slider-nav"> <a href="#" class="left notext">1</a> <a href="#" class="left notext">2</a> <a href="#" class="left notext">3</a> <a href="#" class="left notext">4</a>
        <div class="cl">&nbsp;</div>
      </div>
      <ul>
        <li>
          <div class="item">
            <div class="text">
              <h3><em></em></h3>
              <h2><em></em></h2>
            </div>
            <img src="{% static "/css/images/slider01.gif" %}" alt="" /> </div>
        </li>
        <li>
          <div class="item">
            <div class="text">
              <h3><em></em></h3>
              <h2><em></em></h2>
            </div>
            <img src="{% static "css/images/slider01.gif" %}" alt="" /> </div>
        </li>
        <li>
          <div class="item">
            <div class="text">
              <h3><em></em></h3>
              <h2><em></em></h2>
            </div>
            <img src="{% static "css/images/slider01.gif" %}" alt="" /> </div>
        </li>
        <li>
          <div class="item">
            <div class="text">
              <h3><em></em></h3>
              <h2><em></em></h2>
            </div>
            <img src="{% static "css/images/slider01.gif" %}" alt="" /> </div>
        </li>
      </ul>
    </div>
    <div id="main">
      <div id="content" class="left">
        <div class="highlight">
		{% block home %}{% endblock %}
		{% block article %}{% endblock %}
		{% block gym %}{% endblock %}
		{% block gyms %}{% endblock %}
		{% block workout %}{% endblock %}
		{% block attached_users %}{% endblock %}
		{% block login %}{% endblock %}
		{% block register %}{% endblock %}
		{% block loader %}{% endblock %}
		{% block gymdetails %}{% endblock %}
		{% block gymsmap %}{% endblock %}
</div>
        <div class="projects">
        </div>
      </div>
      <div id="sidebar" class="right">
	<a href="/auth/register" class="btn-buy"><em>Join now</em></a>
	<a href="/auth/login" class="btn-buy"><em>Login</em></a>
        <h3>Useful Links</h3>
        <div class="sidebar-nav">
          <ul>
            <li><a href="#">Ad or useful link [1]</a></li>
            <li><a href="#">Ad or useful link [2]</a></li>
            <li><a href="#">Ad or useful link [3]</a></li>
            <li><a href="#">Ad or useful link [4]</a></li>
            <li><a href="#">Ad or useful link [5]</a></li>
          </ul>
        </div>
        <div class="advertisement">
          <h3>Advertisement</h3>
          <div class="ads">
            <div class="ad left"> <a href="#"><img src="{% static "css/images/ad01.gif" %}" alt="" /></a> </div>
            <div class="ad right"> <a href="#"><img src="{% static "css/images/ad02.gif" %}" alt="" /></a> </div>
            <div class="cl">&nbsp;</div>
          </div>
        </div>
        <div class="info">
          <h3>Recent article</h3>
          <p></p>
        </div>
      </div>
      <div class="cl">&nbsp;</div>
    </div>
    <div class="shadow-l"></div>
    <div class="shadow-r"></div>
    <div class="shadow-b"></div>
  </div>
  <div id="footer">
    <p class="left">Copyright &copy; 2017, Gymhealth.co.nz, All Rights Reserved</p>
    <p class="right">Design by Dmitry Makeev</p>
    <div class="cl"></div>
  </div>
</body>
</html>
