{% extends 'main.html' %}
{% block article %}

<h4>{{ article.article_date }} </h4>
<h2>{{ article.article_title }} </h2>
<p>{{ article.article_text|safe }}</p>
<hr>
<div class="large-offset-1 large-8 columns">
<p>Comments</p>
{% for comment in comments %}
	<p>{{ comment.comments_text }}</p>
	<p>{{ comment.comments_from.username }} {{ comment.comments_date }}</p>
{% endfor %}
<form action="/articles/addcomment/{{ article.id }}/" method="post">
{% csrf_token %}
{{ form }}
<input type="submit" class="button" value="Add comment">
</form>
</div>
{% endblock %}
