{% extends 'main.html' %}

{% block attached_users %}
<h1> Attached users </h1>


<h4><b>You are: {{ coach }}</b></h4>
<br><b>Select user:</b> <br>
	
	<div class="container">
		<h1>Users attached:</h1>
		<form action="/workout_details/" method="post">
			{% csrf_token %}
			<select id="user_selection" name="selected_user">
			<option disabled selected> --- select an option --- </option>
			{% for i in users %}
				<option value={{i.id}}>{{i.username}}</option>
			{% endfor %}
			</select>
			<input type="submit" value="Display workouts"/>
		</form>
	</div>

{% endblock %}
