{% extends 'main.html' %}

{% block gym %}
<h1>Gym details</h1>
<h4>{{ gym.gym_name }}</h4>
<h2>{{ gymlocation.gymlocation_address }}</h2>
<h2>{{ gymlocation.gymlocation_city }}</h2>
<h4>{{ gymcontacts.gymcontacts_phone }}</h4>
<h4>{{ gymstaff.gymstaff_staff }}</h4>
<h1>{{ user }}</h1>
{{ file1 }}
{{ file2 }}
{% endblock %}
