{% extends 'main.html' %}

{% block workout %}
<h1> Workout details </h1>
<h4> You are: {{ user }} </h4>
<h5> Your id: {{ user.id }} </h5>

{% if flag is False %}
	<p><a href="/attached_users/">Attached users</a></p>
	<h3>{{ sel_user }}'s workouts: </h3>
{% endif %}

<table style="width:100%">
<tr>
<th>Type</th>
<th>Date</th>
<th>Duration</th>
<th>Steps</th>
<th>Calories</th>
<th>Points</th>
</tr>
{% for work in workout %}
<tr>
<th>{{ work.workout_type }}</th>
<th>{{ work.workout_date }}</th>
<th>{{ work.workout_duration }}</th>
<th>{{ work.workout_steps }}</th>
<th>{{ work.workout_calories }}</th>
<th>{{ work.workout_points }}</th>
</tr>
{% endfor %}
</table>
{% endblock %}
