
<div class="large-offset-3 large-6 columns">
<form action="/auth/login/" method="post">
{% csrf_token %}
<label for="username">User name</label>
<input type="text" name="username" id="username">
<label for="password">Password</label>
<input type="password" name="password" id="password">
{% if login_error %}
<label class="error">{{ login_error }}</label>
{% endif %}
<input class="button" type="submit" value="Enter">
<div class="label round secondary"><a href=/auth/register>Registration</a></form>
<a href=/> Home </a>
</div>
