{% extends 'main.html' %}

{% block register %}
	<div class="large-offset-3 large-6 columns">
		<form action="/auth/register/" method="post">
		{% csrf_token %}
		{{ form }}
		<input class="button" type="submit" value="Join">
		</form>
	</div>

{% endblock %}
