{% extends 'main.html' %}
{% block gymdetails %}

<h1>{{ gym_name }}</h1>

{{ gym_contacts.gymcontacts_phone }}<br>
{{ gym_contacts.gymcontacts_email }}<br>
{{ gym_location.gymlocation_address }}<br>
{{ gym_location.gymlocation_suburb }}<br>
{{ gym_location.gymlocation_city }}<br>
{{ gym_location.gymlocation_country }}<br>
<br>
<ul> Available staff:
{% for staff in gym_staff %}
<li> {{ staff }} </li>
{% endfor %}
</ul>
{% endblock %}
