{% extends 'main.html' %}
{% block gymsmap %}

<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 800px;
        width: 100%;
       }
    </style>
  </head>
  <body>
	<a href="/">Home</a>
    <h3>Gyms Map</h3>
    <p id="gym_list" style="display:none" ></p>
    <p id="coord_list" style="display:none"> </p>
    <p id="lat" style="display:none "></p>
    <p id="lng"  style="display:none" ></p><br>
    <p id="point" style="display:none"  ></p>

    <div id="map"></div>
    <script>
	function initMap() {
		var gmarkers = Array();
		var gyms = '{{ gyms|escapejs }}';
		var coord = '{{ coord|escapejs }}';
		var coord_array = coord.split("/");
		//var cord = coord_array[1].split(",");	
		//var lat = parseFloat(cord[0].trim());
		//var lng = parseFloat(cord[1].trim());
		//point = new google.maps.LatLng(lat,lng);

		document.getElementById("gym_list").innerHTML = gyms;
		document.getElementById("coord_list").innerHTML = coord_array;	
		document.getElementById("lat").innerHTML = coord_array[0];
		document.getElementById("lng").innerHTML = coord_array[1];		
		//document.getElementById("point").innerHTML = point;
	
		var uluru = {lat: -36.848461, lng: 174.763336};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
	
		var gym_name = gyms.split("/");
		for( var i = 0; i < coord_array.length; i++) // >
			{
				var k = i + 1;
				var url = "get/" + k;
				var cord = coord_array[i].split(",");
                		var lat = parseFloat(cord[0].trim());
                		var lng = parseFloat(cord[1].trim());
                		point = new google.maps.LatLng(lat,lng);
				
				gmarkers[i] = new google.maps.Marker({
					position: point,
					map: map,
					title: gym_name[i],
					url: url
				});

    				google.maps.event.addListener(gmarkers[i], 'click', function() {
 			        window.location.href = this.url;
				});
			}
/*
	var uluru = point;
        //var uluru = {lat: -36.848461, lng: 174.763336};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
	var marker1 = new google.maps.Marker({
          position: {lat: -36.8502652, lng: 174.8566522},
          map: map,
	  title: 'La Vista',
	  url: 'www.lavistanz.co.nz'
        });
	var marker2 = new google.maps.Marker({
          position: {lat: -36.8120823, lng: 174.7220398},
          map: map,
	  title: 'ETK North',
	  url: 'www.lavistanz'
        });
*/
//    google.maps.event.addListener(marker, 'click', function() {
//    window.location.href = this.url;
//});


      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGG0SjMN7-g4VDowj6WOdkNjCdDGFcYAw&callback=initMap">
    </script>
  </body>
</html>

{% endblock %}
