{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="{% static "css/foundation.css" %}">
	<title>Fitness tracker</title>
</head>

<body>
<div class="top-bar">
	<section class="top-bar-section">
		<ul class="right">
			{% if username %}
				<li><a href="/auth/logout/">Log out ({{ username }})</a></li>
			{% else %}
				<li><a href="/auth/login/">Log in</a></li>
			{% endif %}
		</ul>
	</section>
</div>

<h1><a href="/">Fitness blog</a></h1>
<a href="/attached_users/">Attached users</a>
<div class="row">
{% block gym %}{% endblock %}
{% block workout %}{% endblock %}
{% block attached_users %}{% endblock %}
{% block article %}{% endblock %}
{% block login %}{% endblock %}
{% block register %}{% endblock %}
{% block loader %}{% endblock %}
</div>
</body>

</html>
