{% extends 'main.html' %}
{% block loader %}

<form action="/loaded/" method="post" enctype="multipart/form-data">
    <input type="file" name="record" />
    <input type="submit">Upload</button>
</form>

  <p><a href="/">Return to home</a></p>
 {{ file1 }}
 {{ file2 }}
 {{ reader }}

{% endblock %}


