{% extends 'main.html' %}
{% block loader %}
{% load php %}

<!-- {% startphp %}

	echo "Loader page\r\n";
        echo "preview_path: " . (isset($_POST['text']) ? $_POST['text'] : "not set") . "\r\n";
        echo "preview_file exists: " . (isset($_POST['text']) ?  "TRUE" : "FALSE" ). "\r\n";
        echo '$_FILES: ';
        print_r($_FILES);
        echo "preview_file content: " . $_POST['text'];

{% endphp %}
 -->
<form method="post" enctype="multipart/form-data"></form>
<!--	<input type="file" name="myfile">
	<button type="submit">Upload</button> -->

{% if uploaded_file_url %}
	<p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
{% endif %}

{% endblock %}
